## Market Basket Analysis and Recommendation Systems
#### Perform Market Basket Analysis using Associate Rule Minning (Apriori Algorithm)
#### Use support = 0.1 and confidence=0.4 for threshold.
#### Output the following:
#### a) Support score for all the different products.
#### b) Confidence for each pair of products.

## importing libraries

In [2]:
pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.18.0-py2.py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 2.6 MB/s eta 0:00:01     |███████▌                        | 317 kB 2.6 MB/s eta 0:00:01
Requirement already satisfied: joblib>=0.13.2 in /Applications/anaconda/anaconda3/lib/python3.7/site-packages (from mlxtend) (0.14.1)
Requirement already satisfied: pandas>=0.24.2 in /Applications/anaconda/anaconda3/lib/python3.7/site-packages (from mlxtend) (1.0.1)
Requirement already satisfied: matplotlib>=3.0.0 in /Applications/anaconda/anaconda3/lib/python3.7/site-packages (from mlxtend) (3.1.3)
Requirement already satisfied: numpy>=1.16.2 in /Applications/anaconda/anaconda3/lib/python3.7/site-packages (from mlxtend) (1.19.5)
Requirement already satisfied: scikit-learn>=0.20.3 in /Applications/anaconda/anaconda3/lib/python3.7/site-packages (from mlxtend) (0.22.1)
Requirement already satisfied: setuptools in /Applications/anaconda/anaconda3/lib/python3.7/site-packages (from mlxtend) (46.0.0.post20200309)
Requirement already satisfied: scipy>=1.2.1 in /Applications/anaconda/anaconda3/lib/python3.7/site-packages (from mlxtend) (1.4.1)
Requirement already satisfied: pytz>=2017.2 in /Applications/anaconda/anaconda3/lib/python3.7/site-packages (from pandas>=0.24.2->mlxtend) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /Applications/anaconda/anaconda3/lib/python3.7/site-packages (from pandas>=0.24.2->mlxtend) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Applications/anaconda/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /Applications/anaconda/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.6)
Requirement already satisfied: cycler>=0.10 in /Applications/anaconda/anaconda3/lib/python3.7/site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: six>=1.5 in /Applications/anaconda/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.24.2->mlxtend) (1.15.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.18.0
Note: you may need to restart the kernel to use updated packages.

In [11]:
# python modules used for handling data 
import pandas as pd
import numpy as np

# python module for Apriori Algorithm and Associate Rule 

from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

### loading the data in python DataFrame object

In [12]:
data = pd.read_csv("data/GroceryStoreDataSet.csv",header=None)
data

                                 0
0               MILK,BREAD,BISCUIT
1    BREAD,MILK,BISCUIT,CORNFLAKES
2              BREAD,TEA,BOURNVITA
3             JAM,MAGGI,BREAD,MILK
4                MAGGI,TEA,BISCUIT
5              BREAD,TEA,BOURNVITA
6             MAGGI,TEA,CORNFLAKES
7          MAGGI,BREAD,TEA,BISCUIT
8              JAM,MAGGI,BREAD,TEA
9                       BREAD,MILK
10  COFFEE,COCK,BISCUIT,CORNFLAKES
11  COFFEE,COCK,BISCUIT,CORNFLAKES
12          COFFEE,SUGER,BOURNVITA
13               BREAD,COFFEE,COCK
14             BREAD,SUGER,BISCUIT
15         COFFEE,SUGER,CORNFLAKES
16           BREAD,SUGER,BOURNVITA
17              BREAD,COFFEE,SUGER
18              BREAD,COFFEE,SUGER
19      TEA,MILK,COFFEE,CORNFLAKES

## pre-processing the data

In [13]:
data = list(data[0].apply(lambda x:x.split(',')))
data

[['MILK', 'BREAD', 'BISCUIT'],
 ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 ['MAGGI', 'TEA', 'BISCUIT'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['MAGGI', 'TEA', 'CORNFLAKES'],
 ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 ['BREAD', 'MILK'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'COCK'],
 ['BREAD', 'SUGER', 'BISCUIT'],
 ['COFFEE', 'SUGER', 'CORNFLAKES'],
 ['BREAD', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']]

### processing the data into algorithm understandable input format

In [14]:
# performing one-hot encoding on the data 
trans = TransactionEncoder()
trans.fit(data)
trans_data = trans.transform(data)
data = pd.DataFrame(trans_data,columns=trans.columns_)
data

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,True,False,True,False,False,False,False,False,True,False,False
1,True,False,True,False,False,True,False,False,True,False,False
2,False,True,True,False,False,False,False,False,False,False,True
3,False,False,True,False,False,False,True,True,True,False,False
4,True,False,False,False,False,False,False,True,False,False,True
5,False,True,True,False,False,False,False,False,False,False,True
6,False,False,False,False,False,True,False,True,False,False,True
7,True,False,True,False,False,False,False,True,False,False,True
8,False,False,True,False,False,False,True,True,False,False,True
9,False,False,True,False,False,False,False,False,True,False,False
10,True,False,False,True,True,True,False,False,False,False,False
11,True,False,False,True,True,True,False,False,False,False,False
12,False,True,False,False,True,False,False,False,False,True,False
13,False,False,True,True,True,False,False,False,False,False,False
14,True,False,True,False,False,False,False,False,False,True,False
15,False,False,False,False,True,True,False,False,False,True,False
16,False,True,True,False,False,False,False,False,False,True,False
17,False,False,True,False,True,False,False,False,False,True,False
18,False,False,True,False,True,False,False,False,False,True,False
19,False,False,False,False,True,True,False,False,True,False,True

In [15]:
# reforming the crude data into integer type
data = data.replace(True,1).astype(int)
data

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,1,0,1,0,0,0,0,0,1,0,0
1,1,0,1,0,0,1,0,0,1,0,0
2,0,1,1,0,0,0,0,0,0,0,1
3,0,0,1,0,0,0,1,1,1,0,0
4,1,0,0,0,0,0,0,1,0,0,1
5,0,1,1,0,0,0,0,0,0,0,1
6,0,0,0,0,0,1,0,1,0,0,1
7,1,0,1,0,0,0,0,1,0,0,1
8,0,0,1,0,0,0,1,1,0,0,1
9,0,0,1,0,0,0,0,0,1,0,0
10,1,0,0,1,1,1,0,0,0,0,0
11,1,0,0,1,1,1,0,0,0,0,0
12,0,1,0,0,1,0,0,0,0,1,0
13,0,0,1,1,1,0,0,0,0,0,0
14,1,0,1,0,0,0,0,0,0,1,0
15,0,0,0,0,1,1,0,0,0,1,0
16,0,1,1,0,0,0,0,0,0,1,0
17,0,0,1,0,1,0,0,0,0,1,0
18,0,0,1,0,1,0,0,0,0,1,0
19,0,0,0,0,1,1,0,0,1,0,1

### Applying Apriori Algorithm on the processed data

In [16]:
# providing the support values i.e. 0.1 to the Apriori Algorithm
freq_items = apriori(data,min_support=0.1,use_colnames=True)
freq_items

    support                             itemsets
0      0.35                            (BISCUIT)
1      0.20                          (BOURNVITA)
2      0.65                              (BREAD)
3      0.15                               (COCK)
4      0.40                             (COFFEE)
5      0.30                         (CORNFLAKES)
6      0.10                                (JAM)
7      0.25                              (MAGGI)
8      0.25                               (MILK)
9      0.30                              (SUGER)
10     0.35                                (TEA)
11     0.20                     (BISCUIT, BREAD)
12     0.10                      (COCK, BISCUIT)
13     0.10                    (BISCUIT, COFFEE)
14     0.15                (BISCUIT, CORNFLAKES)
15     0.10                     (MAGGI, BISCUIT)
16     0.10                      (BISCUIT, MILK)
17     0.10                       (BISCUIT, TEA)
18     0.15                   (BREAD, BOURNVITA)
19     0.10                   (BOURNVITA, SUGER)
20     0.10                     (TEA, BOURNVITA)
21     0.15                      (BREAD, COFFEE)
22     0.10                         (JAM, BREAD)
23     0.15                       (MAGGI, BREAD)
24     0.20                        (BREAD, MILK)
25     0.20                       (BREAD, SUGER)
26     0.20                         (BREAD, TEA)
27     0.15                       (COCK, COFFEE)
28     0.10                   (COCK, CORNFLAKES)
29     0.20                 (CORNFLAKES, COFFEE)
30     0.20                      (COFFEE, SUGER)
31     0.10                   (CORNFLAKES, MILK)
32     0.10                    (CORNFLAKES, TEA)
33     0.10                         (MAGGI, JAM)
34     0.20                         (MAGGI, TEA)
35     0.10               (BISCUIT, BREAD, MILK)
36     0.10              (COCK, BISCUIT, COFFEE)
37     0.10          (COCK, BISCUIT, CORNFLAKES)
38     0.10        (BISCUIT, CORNFLAKES, COFFEE)
39     0.10                (MAGGI, BISCUIT, TEA)
40     0.10              (TEA, BREAD, BOURNVITA)
41     0.10               (BREAD, COFFEE, SUGER)
42     0.10                  (MAGGI, JAM, BREAD)
43     0.10                  (MAGGI, BREAD, TEA)
44     0.10           (COCK, CORNFLAKES, COFFEE)
45     0.10  (COCK, BISCUIT, CORNFLAKES, COFFEE)

### result 1
#### a) Support score for all the different products.

In [17]:
freq_data = freq_items.sort_values(by = "support" , ascending = False)
res1 = freq_data[freq_data["itemsets"].apply(lambda x:len(x)==1)]
res1

    support      itemsets
2      0.65       (BREAD)
4      0.40      (COFFEE)
0      0.35     (BISCUIT)
10     0.35         (TEA)
5      0.30  (CORNFLAKES)
9      0.30       (SUGER)
7      0.25       (MAGGI)
8      0.25        (MILK)
1      0.20   (BOURNVITA)
3      0.15        (COCK)
6      0.10         (JAM)

#### Using the frequent items data(Apriori Algorithm) to get the Association Rules

In [18]:
# providing the confidence value i.e. 0.4 to the Association Rules 
rules = association_rules(freq_items, metric = "confidence", min_threshold = 0.4)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(BISCUIT),(BREAD),0.35,0.65,0.20,0.571429,0.879121,-0.0275,0.816667
1,(COCK),(BISCUIT),0.15,0.35,0.10,0.666667,1.904762,0.0475,1.950000
2,(BISCUIT),(CORNFLAKES),0.35,0.30,0.15,0.428571,1.428571,0.0450,1.225000
3,(CORNFLAKES),(BISCUIT),0.30,0.35,0.15,0.500000,1.428571,0.0450,1.300000
4,(MAGGI),(BISCUIT),0.25,0.35,0.10,0.400000,1.142857,0.0125,1.083333
...,...,...,...,...,...,...,...,...,...
70,"(COCK, COFFEE)","(BISCUIT, CORNFLAKES)",0.15,0.15,0.10,0.666667,4.444444,0.0775,2.550000
71,"(BISCUIT, CORNFLAKES)","(COCK, COFFEE)",0.15,0.15,0.10,0.666667,4.444444,0.0775,2.550000
72,"(BISCUIT, COFFEE)","(COCK, CORNFLAKES)",0.10,0.10,0.10,1.000000,10.000000,0.0900,inf
73,"(CORNFLAKES, COFFEE)","(COCK, BISCUIT)",0.20,0.10,0.10,0.500000,5.000000,0.0800,1.800000
74,(COCK),"(BISCUIT, CORNFLAKES, COFFEE)",0.15,0.10,0.10,0.666667,6.666667,0.0850,2.700000

### result 2
#### b) Confidence for each pair of products.

In [19]:
res = rules[rules["antecedents"].apply(lambda x:len(x)==2)]
res2 = res[["antecedents","confidence"]]
res2

              antecedents  confidence
25       (BISCUIT, BREAD)    0.500000
26        (BISCUIT, MILK)    1.000000
27          (BREAD, MILK)    0.500000
29        (COCK, BISCUIT)    1.000000
30         (COCK, COFFEE)    0.666667
31      (BISCUIT, COFFEE)    1.000000
33        (COCK, BISCUIT)    1.000000
34     (COCK, CORNFLAKES)    1.000000
35  (BISCUIT, CORNFLAKES)    0.666667
37  (BISCUIT, CORNFLAKES)    0.666667
38      (BISCUIT, COFFEE)    1.000000
39   (CORNFLAKES, COFFEE)    0.500000
40       (MAGGI, BISCUIT)    1.000000
41           (MAGGI, TEA)    0.500000
42         (BISCUIT, TEA)    1.000000
44           (BREAD, TEA)    0.500000
45       (BOURNVITA, TEA)    1.000000
46     (BREAD, BOURNVITA)    0.666667
48        (BREAD, COFFEE)    0.666667
49         (BREAD, SUGER)    0.500000
50        (SUGER, COFFEE)    0.500000
51           (MAGGI, JAM)    1.000000
52         (MAGGI, BREAD)    0.666667
53           (JAM, BREAD)    1.000000
56         (MAGGI, BREAD)    0.666667
57           (MAGGI, TEA)    0.500000
58           (BREAD, TEA)    0.500000
60     (COCK, CORNFLAKES)    1.000000
61         (COCK, COFFEE)    0.666667
62   (CORNFLAKES, COFFEE)    0.500000
68        (COCK, BISCUIT)    1.000000
69     (COCK, CORNFLAKES)    1.000000
70         (COCK, COFFEE)    0.666667
71  (BISCUIT, CORNFLAKES)    0.666667
72      (BISCUIT, COFFEE)    1.000000
73   (CORNFLAKES, COFFEE)    0.500000